scribus/Scribus-Current-fileformat.att.dtd

<!-- 
General Notes
<br/>
<br/>

Scribus pages are arranged in a vast scratch space, where 1 unit == 1/72 inch.
Positive x is to the right, and positive y is downward.
The positions, width and height in the elements are in scratch space coordinates
with the exception of POCOOR and COCOOR coordinates, which are in the rotated
and translated space of a PAGEOBJECT.
<br/>
<br/>

Things that are in blue are optional.
<br/>
<br/>

Things that are in red and blinking are self explanatory.
<br/>
<br/>
 -->


<!ELEMENT SCRIBUSUTF8NEW (DOCUMENT)>
<!ATTLIST SCRIBUSUTF8NEW Version            CDATA #REQUIRED >

<!ELEMENT DOCUMENT (CheckProfile, COLOR, Gradient, STYLE, CHARSTYLE, HYPHEN, JAVA, LAYERS, MultiLine, Printer, PDF, DocItemAttributes, TablesOfContents, Sections, PageSets*, Pattern, MASTERPAGE, PAGE, MASTEROBJECT, PAGEOBJECT)>
<!ATTLIST DOCUMENT AUTOL              CDATA #REQUIRED >
<!ATTLIST DOCUMENT AutoSave           CDATA #REQUIRED >
<!ATTLIST DOCUMENT AutoSaveTime       CDATA #REQUIRED >
<!ATTLIST DOCUMENT BACKG              CDATA #REQUIRED >
<!ATTLIST DOCUMENT BaseC              CDATA #REQUIRED >
<!ATTLIST DOCUMENT BRUSH              CDATA #REQUIRED >
<!ATTLIST DOCUMENT BRUSHSHADE         CDATA #REQUIRED >
<!ATTLIST DOCUMENT ABSTSPALTEN        CDATA #REQUIRED >
<!ATTLIST DOCUMENT ALAYER             CDATA "" >
<!ATTLIST DOCUMENT ANZPAGES           CDATA #REQUIRED >
<!ATTLIST DOCUMENT AUTHOR             CDATA #REQUIRED >
<!ATTLIST DOCUMENT AUTOCHECK          CDATA "" >
<!ATTLIST DOCUMENT AUTOMATIC          CDATA "" >
<!ATTLIST DOCUMENT AUTOSPALTEN        CDATA #REQUIRED >
<!ATTLIST DOCUMENT AUTOTEXT           CDATA #REQUIRED >
<!ATTLIST DOCUMENT BASEGRID           CDATA "" >
<!ATTLIST DOCUMENT BASEO              CDATA "" >
<!ATTLIST DOCUMENT BleedTop           CDATA #REQUIRED >
<!ATTLIST DOCUMENT BleedBottom        CDATA #REQUIRED >
<!ATTLIST DOCUMENT BleedLeft          CDATA #REQUIRED >
<!ATTLIST DOCUMENT BleedRight         CDATA #REQUIRED >
<!ATTLIST DOCUMENT BOOK               CDATA "" >
<!ATTLIST DOCUMENT BORDERBOTTOM       CDATA #REQUIRED >
<!ATTLIST DOCUMENT BORDERLEFT         CDATA #REQUIRED >
<!ATTLIST DOCUMENT BORDERRIGHT        CDATA #REQUIRED >
<!ATTLIST DOCUMENT BORDERTOP          CDATA #REQUIRED >
<!ATTLIST DOCUMENT COMMENTS           CDATA #REQUIRED >
<!ATTLIST DOCUMENT CPICT              CDATA #REQUIRED >
<!ATTLIST DOCUMENT currentProfile     CDATA #REQUIRED >
<!ATTLIST DOCUMENT DCOL               CDATA "" >
<!ATTLIST DOCUMENT DFONT              CDATA #REQUIRED >
<!ATTLIST DOCUMENT DGAP               CDATA "" >
<!ATTLIST DOCUMENT DIMo               CDATA "" >
<!ATTLIST DOCUMENT DIMo2              CDATA "" >
<!ATTLIST DOCUMENT DIPr               CDATA "" >
<!ATTLIST DOCUMENT DOCCONTRIB         CDATA "" >
<!ATTLIST DOCUMENT DOCCOVER           CDATA "" >
<!ATTLIST DOCUMENT DOCDATE            CDATA "" >
<!ATTLIST DOCUMENT DOCFORMAT          CDATA "" >
<!ATTLIST DOCUMENT DOCIDENT           CDATA "" >
<!ATTLIST DOCUMENT DOCLANGINFO        CDATA "" >
<!ATTLIST DOCUMENT DOCRELATION        CDATA "" >
<!ATTLIST DOCUMENT DOCRIGHTS          CDATA "" >
<!ATTLIST DOCUMENT DOCSOURCE          CDATA "" >
<!ATTLIST DOCUMENT DOCTYPE            CDATA "" >
<!ATTLIST DOCUMENT Dpbla              CDATA "" >
<!ATTLIST DOCUMENT Dpgam              CDATA "" >
<!ATTLIST DOCUMENT DPIn               CDATA "" >
<!ATTLIST DOCUMENT DPIn2              CDATA "" >
<!ATTLIST DOCUMENT DPMo               CDATA "" >
<!ATTLIST DOCUMENT DPPr               CDATA "" >
<!ATTLIST DOCUMENT DPSo               CDATA "" >
<!ATTLIST DOCUMENT Dpuse              CDATA "" >
<!ATTLIST DOCUMENT DSIZE              CDATA #REQUIRED >
<!ATTLIST DOCUMENT FIRSTLEFT          CDATA "" >
<!ATTLIST DOCUMENT FIRSTNUM           CDATA "" >
<!ATTLIST DOCUMENT DPInCMYK           CDATA #REQUIRED >
<!ATTLIST DOCUMENT EmbeddedPath       CDATA #REQUIRED >
<!ATTLIST DOCUMENT EndArrow           CDATA #REQUIRED >
<!ATTLIST DOCUMENT GROUPC             CDATA "" >
<!ATTLIST DOCUMENT GUIDELOCK          CDATA "" >
<!ATTLIST DOCUMENT GRAB               CDATA #REQUIRED >
<!ATTLIST DOCUMENT GuideC             CDATA #REQUIRED >
<!ATTLIST DOCUMENT GUIDELOCK          CDATA #REQUIRED >
<!ATTLIST DOCUMENT GuideRad           CDATA #REQUIRED >
<!ATTLIST DOCUMENT GuideZ             CDATA #REQUIRED >
<!ATTLIST DOCUMENT HCMS               CDATA "" >
<!ATTLIST DOCUMENT HYCOUNT            CDATA "" >
<!ATTLIST DOCUMENT KEYWORDS           CDATA #REQUIRED >
<!ATTLIST DOCUMENT LANGUAGE           CDATA "" >
<!ATTLIST DOCUMENT MAJGRID            CDATA "" >
<!ATTLIST DOCUMENT MINGRID            CDATA "" >
<!ATTLIST DOCUMENT MINWORDLEN         CDATA "" >
<!ATTLIST DOCUMENT ORIENTATION        CDATA "" >
<!ATTLIST DOCUMENT PAGEHEIGHT         CDATA #REQUIRED >
<!ATTLIST DOCUMENT PAGEWITH           CDATA #REQUIRED >
<!ATTLIST DOCUMENT PUBLISHER          CDATA "" >
<!ATTLIST DOCUMENT HalfRes            CDATA #REQUIRED >
<!ATTLIST DOCUMENT LINESHADE          CDATA #REQUIRED >
<!ATTLIST DOCUMENT MAGMAX             CDATA #REQUIRED >
<!ATTLIST DOCUMENT MAGMIN             CDATA #REQUIRED >
<!ATTLIST DOCUMENT MAGSTEP            CDATA #REQUIRED >
<!ATTLIST DOCUMENT MAJORC             CDATA #REQUIRED >
<!ATTLIST DOCUMENT MARGC              CDATA #REQUIRED >
<!ATTLIST DOCUMENT MINORC             CDATA #REQUIRED >
<!ATTLIST DOCUMENT PAGEC              CDATA #REQUIRED >
<!ATTLIST DOCUMENT PAGESIZE           CDATA #REQUIRED >
<!ATTLIST DOCUMENT PASPECT            CDATA #REQUIRED >
<!ATTLIST DOCUMENT PEN                CDATA #REQUIRED >
<!ATTLIST DOCUMENT PENLINE            CDATA #REQUIRED >
<!ATTLIST DOCUMENT PENSHADE           CDATA #REQUIRED >
<!ATTLIST DOCUMENT PENTEXT            CDATA #REQUIRED >
<!ATTLIST DOCUMENT PICTSCX            CDATA #REQUIRED >
<!ATTLIST DOCUMENT PICTSCY            CDATA #REQUIRED >
<!ATTLIST DOCUMENT PICTSHADE          CDATA #REQUIRED >
<!ATTLIST DOCUMENT POLYC              CDATA #REQUIRED >
<!ATTLIST DOCUMENT POLYF              CDATA #REQUIRED >
<!ATTLIST DOCUMENT POLYFD             CDATA #REQUIRED >
<!ATTLIST DOCUMENT POLYR              CDATA #REQUIRED >
<!ATTLIST DOCUMENT POLYS              CDATA #REQUIRED >
<!ATTLIST DOCUMENT PSCALE             CDATA #REQUIRED >
<!ATTLIST DOCUMENT RANDF              CDATA #REQUIRED >
<!ATTLIST DOCUMENT rulerMode          CDATA #REQUIRED >
<!ATTLIST DOCUMENT rulerXoffset       CDATA #REQUIRED >
<!ATTLIST DOCUMENT rulerYoffset       CDATA #REQUIRED >
<!ATTLIST DOCUMENT ScratchBottom      CDATA #REQUIRED >
<!ATTLIST DOCUMENT ScratchLeft        CDATA #REQUIRED >
<!ATTLIST DOCUMENT ScratchRight       CDATA #REQUIRED >
<!ATTLIST DOCUMENT ScratchTop         CDATA #REQUIRED >
<!ATTLIST DOCUMENT SHOWBASE           CDATA #REQUIRED >
<!ATTLIST DOCUMENT showcolborders     CDATA #REQUIRED >
<!ATTLIST DOCUMENT SHOWControl        CDATA #REQUIRED >
<!ATTLIST DOCUMENT SHOWFRAME          CDATA #REQUIRED >
<!ATTLIST DOCUMENT SHOWGRID           CDATA #REQUIRED >
<!ATTLIST DOCUMENT SHOWGUIDES         CDATA #REQUIRED >
<!ATTLIST DOCUMENT SHOWLINK           CDATA #REQUIRED >
<!ATTLIST DOCUMENT SHOWMARGIN         CDATA #REQUIRED >
<!ATTLIST DOCUMENT SHOWPICT           CDATA #REQUIRED >
<!ATTLIST DOCUMENT showrulers         CDATA #REQUIRED >
<!ATTLIST DOCUMENT SnapToGrid         CDATA #REQUIRED >
<!ATTLIST DOCUMENT SnapToGuides       CDATA #REQUIRED >
<!ATTLIST DOCUMENT StartArrow         CDATA #REQUIRED >
<!ATTLIST DOCUMENT STIL               CDATA #REQUIRED >
<!ATTLIST DOCUMENT STILLINE           CDATA #REQUIRED >
<!ATTLIST DOCUMENT StrikeThruPos      CDATA #REQUIRED >
<!ATTLIST DOCUMENT StrikeThruWidth    CDATA #REQUIRED >
<!ATTLIST DOCUMENT StrokeText         CDATA #REQUIRED >
<!ATTLIST DOCUMENT TabFill            CDATA #REQUIRED >
<!ATTLIST DOCUMENT TabWidth           CDATA #REQUIRED >
<!ATTLIST DOCUMENT TextBackGround     CDATA #REQUIRED >
<!ATTLIST DOCUMENT TextBackGroundShade CDATA #REQUIRED >
<!ATTLIST DOCUMENT TextLineColor      CDATA #REQUIRED >
<!ATTLIST DOCUMENT TextLineShade      CDATA #REQUIRED >
<!ATTLIST DOCUMENT TextPenShade       CDATA #REQUIRED >
<!ATTLIST DOCUMENT TextStrokeShade    CDATA #REQUIRED >
<!ATTLIST DOCUMENT TITLE              CDATA #REQUIRED >
<!ATTLIST DOCUMENT UNITS              CDATA "" >
<!ATTLIST DOCUMENT VHOCH              CDATA #REQUIRED >
<!ATTLIST DOCUMENT VHOCHSC            CDATA #REQUIRED >
<!ATTLIST DOCUMENT VKAPIT             CDATA #REQUIRED >
<!ATTLIST DOCUMENT VTIEF              CDATA #REQUIRED >
<!ATTLIST DOCUMENT VTIEFSC            CDATA #REQUIRED >
<!ATTLIST DOCUMENT UnderlinePos       CDATA #REQUIRED >
<!ATTLIST DOCUMENT UnderlineWidth     CDATA #REQUIRED >
<!ATTLIST DOCUMENT WIDTH              CDATA #REQUIRED >
<!ATTLIST DOCUMENT WIDTHLINE          CDATA #REQUIRED >

<!ELEMENT CheckProfile EMPTY>
<!ATTLIST CheckProfile Name               CDATA #REQUIRED >
<!ATTLIST CheckProfile ignoreErrors       CDATA #REQUIRED >
<!ATTLIST CheckProfile ignoreOffErrors    CDATA #REQUIRED >
<!ATTLIST CheckProfile autoCheck          CDATA #REQUIRED >
<!ATTLIST CheckProfile checkTransparency  CDATA #REQUIRED >
<!ATTLIST CheckProfile checkResolution    CDATA #REQUIRED >
<!ATTLIST CheckProfile minResolution      CDATA #REQUIRED >
<!ATTLIST CheckProfile maxResolution      CDATA #REQUIRED >
<!ATTLIST CheckProfile checkOverflow      CDATA #REQUIRED >
<!ATTLIST CheckProfile checkRasterPDF     CDATA #REQUIRED >
<!ATTLIST CheckProfile checkForGIF        CDATA #REQUIRED >
<!ATTLIST CheckProfile checkGlyphs        CDATA #REQUIRED >
<!ATTLIST CheckProfile checkAnnotations   CDATA #REQUIRED >
<!ATTLIST CheckProfile checkPictures      CDATA #REQUIRED >
<!ATTLIST CheckProfile checkOrphans       CDATA #REQUIRED >

<!ELEMENT COLOR EMPTY>
<!ATTLIST COLOR NAME               CDATA #REQUIRED >
<!ATTLIST COLOR CMYK               CDATA #REQUIRED >
<!ATTLIST COLOR RGB                CDATA #REQUIRED >
<!ATTLIST COLOR Register           CDATA #REQUIRED >
<!ATTLIST COLOR Spot               CDATA #REQUIRED >

<!ELEMENT Gradient (CSTOP)>
<!ATTLIST Gradient name               CDATA #REQUIRED >

<!ELEMENT CSTOP EMPTY>
<!ATTLIST CSTOP NAME               CDATA #REQUIRED >
<!ATTLIST CSTOP RAMP               CDATA #REQUIRED >
<!ATTLIST CSTOP SHADE              CDATA #REQUIRED >
<!ATTLIST CSTOP TRANS              CDATA #REQUIRED >

<!ELEMENT STYLE (Tab)>
<!ATTLIST STYLE NAME               CDATA #REQUIRED >
<!ATTLIST STYLE PARENT             CDATA #REQUIRED >
<!ATTLIST STYLE DefaultStyle       CDATA #REQUIRED >
<!ATTLIST STYLE ALIGN              CDATA #REQUIRED >
<!ATTLIST STYLE LINESPMode         CDATA #REQUIRED >
<!ATTLIST STYLE LINESP             CDATA #REQUIRED >
<!ATTLIST STYLE INDENT             CDATA #REQUIRED >
<!ATTLIST STYLE RMARGIN            CDATA #REQUIRED >
<!ATTLIST STYLE FIRST              CDATA #REQUIRED >
<!ATTLIST STYLE VOR                CDATA #REQUIRED >
<!ATTLIST STYLE NACH               CDATA #REQUIRED >
<!ATTLIST STYLE DROP               CDATA #REQUIRED >
<!ATTLIST STYLE DROPLIN            CDATA #REQUIRED >
<!ATTLIST STYLE DROPDIST           CDATA #REQUIRED >
<!ATTLIST STYLE OpticalMargins     CDATA #REQUIRED >
<!ATTLIST STYLE HyphenationMode    CDATA #REQUIRED >
<!ATTLIST STYLE MinWordTrack       CDATA #REQUIRED >
<!ATTLIST STYLE MinGlyphShrink     CDATA #REQUIRED >
<!ATTLIST STYLE MaxGlyphExtend     CDATA #REQUIRED >
<!ATTLIST STYLE PSHORTCUT          CDATA #REQUIRED >

<!ELEMENT Tab EMPTY>
<!ATTLIST Tab Fill               CDATA #REQUIRED >
<!ATTLIST Tab Pos                CDATA #REQUIRED >
<!ATTLIST Tab Type               CDATA #REQUIRED >

<!ELEMENT CHARSTYLE EMPTY>
<!ATTLIST CHARSTYLE CNAME              CDATA #REQUIRED >
<!ATTLIST CHARSTYLE CPARENT            CDATA #REQUIRED >
<!ATTLIST CHARSTYLE FONT               CDATA #REQUIRED >
<!ATTLIST CHARSTYLE FONTSIZE           CDATA #REQUIRED >
<!ATTLIST CHARSTYLE FEATURES           CDATA #REQUIRED >
<!ATTLIST CHARSTYLE FCOLOR             CDATA #REQUIRED >
<!ATTLIST CHARSTYLE FSHADE             CDATA #REQUIRED >
<!ATTLIST CHARSTYLE SCOLOR             CDATA #REQUIRED >
<!ATTLIST CHARSTYLE SSHADE             CDATA #REQUIRED >
<!ATTLIST CHARSTYLE TXTSHX             CDATA #REQUIRED >
<!ATTLIST CHARSTYLE TXTSHY             CDATA #REQUIRED >
<!ATTLIST CHARSTYLE TXTOUT             CDATA #REQUIRED >
<!ATTLIST CHARSTYLE TXTULP             CDATA #REQUIRED >
<!ATTLIST CHARSTYLE TXTULW             CDATA #REQUIRED >
<!ATTLIST CHARSTYLE TXTSTP             CDATA #REQUIRED >
<!ATTLIST CHARSTYLE TXTSTW             CDATA #REQUIRED >
<!ATTLIST CHARSTYLE SCALEH             CDATA #REQUIRED >
<!ATTLIST CHARSTYLE SCALEV             CDATA #REQUIRED >
<!ATTLIST CHARSTYLE BASEO              CDATA #REQUIRED >
<!ATTLIST CHARSTYLE KERN               CDATA #REQUIRED >
<!ATTLIST CHARSTYLE wordTrack          CDATA #REQUIRED >
<!ATTLIST CHARSTYLE SHORTCUT           CDATA #REQUIRED >

<!ELEMENT HYPHEN EMPTY>
<!ATTLIST HYPHEN EXCEPTION          CDATA #REQUIRED >
<!ATTLIST HYPHEN WORD               CDATA #REQUIRED >
<!ATTLIST HYPHEN HYPHENATED         CDATA #REQUIRED >
<!ATTLIST HYPHEN IGNORE             CDATA #REQUIRED >

<!ELEMENT JAVA EMPTY>
<!ATTLIST JAVA NAME               CDATA #REQUIRED >
<!ATTLIST JAVA SCRIPT             CDATA #REQUIRED >

<!ELEMENT LAYERS EMPTY>
<!ATTLIST LAYERS NUMMER             CDATA #REQUIRED >
<!ATTLIST LAYERS NAME               CDATA #REQUIRED >
<!ATTLIST LAYERS EDIT               CDATA #REQUIRED >
<!ATTLIST LAYERS DRUCKEN            CDATA #REQUIRED >
<!ATTLIST LAYERS LEVEL              CDATA #REQUIRED >
<!ATTLIST LAYERS SICHTBAR           CDATA #REQUIRED >
<!ATTLIST LAYERS FLOW               CDATA #REQUIRED >
<!ATTLIST LAYERS TRANS              CDATA #REQUIRED >
<!ATTLIST LAYERS BLEND              CDATA #REQUIRED >
<!ATTLIST LAYERS OUTL               CDATA #REQUIRED >
<!ATTLIST LAYERS LAYERC             CDATA #REQUIRED >

<!ELEMENT MultiLine EMPTY>

<!ELEMENT Printer (Separation)>
<!ATTLIST Printer firstUse           CDATA #REQUIRED >
<!ATTLIST Printer toFile             CDATA #REQUIRED >
<!ATTLIST Printer useAltPrintCommand CDATA #REQUIRED >
<!ATTLIST Printer outputSeparations  CDATA #REQUIRED >
<!ATTLIST Printer useSpotColors      CDATA #REQUIRED >
<!ATTLIST Printer useColor           CDATA #REQUIRED >
<!ATTLIST Printer mirrorH            CDATA #REQUIRED >
<!ATTLIST Printer mirrorV            CDATA #REQUIRED >
<!ATTLIST Printer useICC             CDATA #REQUIRED >
<!ATTLIST Printer doGCR              CDATA #REQUIRED >
<!ATTLIST Printer doClip             CDATA #REQUIRED >
<!ATTLIST Printer setDevParam        CDATA #REQUIRED >
<!ATTLIST Printer useDocBleeds       CDATA #REQUIRED >
<!ATTLIST Printer cropMarks          CDATA #REQUIRED >
<!ATTLIST Printer bleedMarks         CDATA #REQUIRED >
<!ATTLIST Printer registrationMarks  CDATA #REQUIRED >
<!ATTLIST Printer colorMarks         CDATA #REQUIRED >
<!ATTLIST Printer includePDFMarks    CDATA #REQUIRED >
<!ATTLIST Printer PSLevel            CDATA #REQUIRED >
<!ATTLIST Printer PDLanguage         CDATA #REQUIRED >
<!ATTLIST Printer markOffset         CDATA #REQUIRED >
<!ATTLIST Printer BleedTop           CDATA #REQUIRED >
<!ATTLIST Printer BleedBottom        CDATA #REQUIRED >
<!ATTLIST Printer BleedLeft          CDATA #REQUIRED >
<!ATTLIST Printer BleedRight         CDATA #REQUIRED >
<!ATTLIST Printer printer            CDATA #REQUIRED >
<!ATTLIST Printer filename           CDATA #REQUIRED >
<!ATTLIST Printer separationName     CDATA #REQUIRED >
<!ATTLIST Printer printerCommand     CDATA #REQUIRED >

<!ELEMENT Separation EMPTY>
<!ATTLIST Separation Name               CDATA #REQUIRED >

<!ELEMENT PDF (LPI?, Effekte)>
<!ATTLIST PDF Clip               CDATA #REQUIRED >
<!ATTLIST PDF displayBookmarks   CDATA #REQUIRED >
<!ATTLIST PDF displayFullscreen  CDATA #REQUIRED >
<!ATTLIST PDF displayLayers      CDATA #REQUIRED >
<!ATTLIST PDF displayThumbs      CDATA #REQUIRED >
<!ATTLIST PDF doMultiFile        CDATA #REQUIRED >
<!ATTLIST PDF Articles           CDATA #REQUIRED >
<!ATTLIST PDF BBottom            CDATA "" >
<!ATTLIST PDF Binding            CDATA #REQUIRED >
<!ATTLIST PDF BLeft              CDATA "" >
<!ATTLIST PDF Bookmarks          CDATA #REQUIRED >
<!ATTLIST PDF BRight             CDATA "" >
<!ATTLIST PDF BTop               CDATA "" >
<!ATTLIST PDF CMethod            CDATA "" >
<!ATTLIST PDF Compress           CDATA #REQUIRED >
<!ATTLIST PDF Encrypt            CDATA "" >
<!ATTLIST PDF fitWindow          CDATA #REQUIRED >
<!ATTLIST PDF Grayscale          CDATA #REQUIRED >
<!ATTLIST PDF hideMenuBar        CDATA #REQUIRED >
<!ATTLIST PDF hideToolBar        CDATA #REQUIRED >
<!ATTLIST PDF ImageP             CDATA #REQUIRED >
<!ATTLIST PDF ImagePr            CDATA #REQUIRED >
<!ATTLIST PDF InfoString         CDATA #REQUIRED >
<!ATTLIST PDF Intent             CDATA #REQUIRED >
<!ATTLIST PDF Intent2            CDATA #REQUIRED >
<!ATTLIST PDF PassOwner          CDATA "" >
<!ATTLIST PDF PassUser           CDATA "" >
<!ATTLIST PDF Permissions        CDATA "" >
<!ATTLIST PDF PicRes             CDATA #REQUIRED >
<!ATTLIST PDF PresentMode        CDATA #REQUIRED >
<!ATTLIST PDF PrintP             CDATA "" >
<!ATTLIST PDF Quality            CDATA "" >
<!ATTLIST PDF RecalcPic          CDATA #REQUIRED >
<!ATTLIST PDF Resolution         CDATA #REQUIRED >
<!ATTLIST PDF RGBMode            CDATA "" >
<!ATTLIST PDF SolidP             CDATA "" >
<!ATTLIST PDF Thumbnails         CDATA #REQUIRED >
<!ATTLIST PDF UseLpi             CDATA "" >
<!ATTLIST PDF UseProfiles        CDATA "" >
<!ATTLIST PDF UseProfiles2       CDATA "" >
<!ATTLIST PDF Version            CDATA #REQUIRED >
<!ATTLIST PDF MirrorH            CDATA #REQUIRED >
<!ATTLIST PDF MirrorV            CDATA #REQUIRED >
<!ATTLIST PDF openAction         CDATA #REQUIRED >
<!ATTLIST PDF PageLayout         CDATA #REQUIRED >
<!ATTLIST PDF RotateDeg          CDATA #REQUIRED >
<!ATTLIST PDF UseLayers          CDATA #REQUIRED >
<!ATTLIST PDF UseSpotColors      CDATA #REQUIRED >

<!ELEMENT LPI EMPTY>
<!ATTLIST LPI Angle              CDATA #REQUIRED >
<!ATTLIST LPI Color              CDATA #REQUIRED >
<!ATTLIST LPI Frequency          CDATA #REQUIRED >
<!ATTLIST LPI SpotFunction       CDATA #REQUIRED >

<!ELEMENT Effekte EMPTY>
<!ATTLIST Effekte pageEffectDuration CDATA #REQUIRED >
<!ATTLIST Effekte pageViewDuration   CDATA #REQUIRED >
<!ATTLIST Effekte effectType         CDATA #REQUIRED >
<!ATTLIST Effekte Dm                 CDATA #REQUIRED >
<!ATTLIST Effekte M                  CDATA #REQUIRED >
<!ATTLIST Effekte Di                 CDATA #REQUIRED >

<!ELEMENT DocItemAttributes (ItemAttribute)>

<!ELEMENT ItemAttribute EMPTY>

<!ELEMENT TablesOfContents EMPTY>
<!ATTLIST TablesOfContents Name               CDATA #REQUIRED >
<!ATTLIST TablesOfContents ItemAttributeName  CDATA #REQUIRED >
<!ATTLIST TablesOfContents FrameName          CDATA #REQUIRED >
<!ATTLIST TablesOfContents ListNonPrinting    CDATA #REQUIRED >
<!ATTLIST TablesOfContents Style              CDATA #REQUIRED >
<!ATTLIST TablesOfContents NumberPlacement    CDATA #REQUIRED >

<!ELEMENT Sections (Section)>

<!ELEMENT Section EMPTY>
<!ATTLIST Section Name               CDATA #REQUIRED >
<!ATTLIST Section Active             CDATA #REQUIRED >
<!ATTLIST Section Number             CDATA #REQUIRED >
<!ATTLIST Section Type               CDATA #REQUIRED >
<!ATTLIST Section From               CDATA #REQUIRED >
<!ATTLIST Section To                 CDATA #REQUIRED >
<!ATTLIST Section Start              CDATA #REQUIRED >
<!ATTLIST Section Reversed           CDATA #REQUIRED >

<!ELEMENT PageSets (Set)>

<!ELEMENT Set (PageNames)>
<!ATTLIST Set Columns            CDATA #REQUIRED >
<!ATTLIST Set GapBelow           CDATA #REQUIRED >
<!ATTLIST Set Rows               CDATA #REQUIRED >
<!ATTLIST Set FirstPage          CDATA #REQUIRED >
<!ATTLIST Set GapHorizontal      CDATA #REQUIRED >
<!ATTLIST Set Name               CDATA #REQUIRED >
<!ATTLIST Set GapVertical        CDATA #REQUIRED >

<!ELEMENT PageNames EMPTY>
<!ATTLIST PageNames Name               CDATA #REQUIRED >

<!ELEMENT Pattern EMPTY>
<!ATTLIST Pattern Name               CDATA #REQUIRED >
<!ATTLIST Pattern width              CDATA #REQUIRED >
<!ATTLIST Pattern height             CDATA #REQUIRED >
<!ATTLIST Pattern scaleX             CDATA #REQUIRED >
<!ATTLIST Pattern scaleY             CDATA #REQUIRED >
<!ATTLIST Pattern xoffset            CDATA #REQUIRED >
<!ATTLIST Pattern yoffset            CDATA #REQUIRED >

<!ELEMENT MASTERPAGE EMPTY>

<!ELEMENT PAGE EMPTY>
<!ATTLIST PAGE Size               CDATA #REQUIRED >
<!ATTLIST PAGE NUM                CDATA #REQUIRED >
<!ATTLIST PAGE BORDERTOP          CDATA #REQUIRED >
<!ATTLIST PAGE BORDERBOTTOM       CDATA #REQUIRED >
<!ATTLIST PAGE BORDERLEFT         CDATA #REQUIRED >
<!ATTLIST PAGE BORDERRIGHT        CDATA #REQUIRED >
<!ATTLIST PAGE NAM                CDATA #REQUIRED >
<!ATTLIST PAGE MNAM               CDATA #REQUIRED >
<!ATTLIST PAGE LEFT               CDATA #REQUIRED >
<!ATTLIST PAGE Orientation        CDATA #REQUIRED >
<!ATTLIST PAGE PAGEHEIGHT         CDATA #REQUIRED >
<!ATTLIST PAGE PAGEWIDTH          CDATA #REQUIRED >
<!ATTLIST PAGE PAGEXPOS           CDATA #REQUIRED >
<!ATTLIST PAGE PAGEYPOS           CDATA #REQUIRED >
<!ATTLIST PAGE NumHGuides         CDATA #REQUIRED >
<!ATTLIST PAGE HorizontalGuides   CDATA #REQUIRED >
<!ATTLIST PAGE NumVGuides         CDATA #REQUIRED >
<!ATTLIST PAGE VerticalGuides     CDATA #REQUIRED >
<!ATTLIST PAGE AGHorizontalAutoGap CDATA #REQUIRED >
<!ATTLIST PAGE AGVerticalAutoGap  CDATA #REQUIRED >
<!ATTLIST PAGE AGHorizontalAutoCount CDATA #REQUIRED >
<!ATTLIST PAGE AGVerticalAutoCount CDATA #REQUIRED >
<!ATTLIST PAGE AGHorizontalAutoRefer CDATA #REQUIRED >
<!ATTLIST PAGE AGVerticalAutoRefer CDATA #REQUIRED >
<!ATTLIST PAGE AGSelection        CDATA #REQUIRED >

<!ELEMENT MASTEROBJECT EMPTY>

<!ELEMENT PAGEOBJECT (PageItemAttributes, Tab, CSTOP?, ITEXT, var)>
<!ATTLIST PAGEOBJECT ALIGN              CDATA "" >
<!ATTLIST PAGEOBJECT ANNAME             CDATA "" >
<!ATTLIST PAGEOBJECT ANNOTATION         CDATA "" >
<!ATTLIST PAGEOBJECT ANAA               CDATA "" >
<!ATTLIST PAGEOBJECT ANACTION           CDATA "" >
<!ATTLIST PAGEOBJECT ANACTYP            CDATA "" >
<!ATTLIST PAGEOBJECT ANBCOL             CDATA "" >
<!ATTLIST PAGEOBJECT ANBLACT            CDATA "" >
<!ATTLIST PAGEOBJECT ANBSTY             CDATA "" >
<!ATTLIST PAGEOBJECT ANBWID             CDATA "" >
<!ATTLIST PAGEOBJECT ANCACT             CDATA "" >
<!ATTLIST PAGEOBJECT ANCHK              CDATA "" >
<!ATTLIST PAGEOBJECT ANCHKS             CDATA "" >
<!ATTLIST PAGEOBJECT ANDACT             CDATA "" >
<!ATTLIST PAGEOBJECT ANDOWN             CDATA "" >
<!ATTLIST PAGEOBJECT ANEACT             CDATA "" >
<!ATTLIST PAGEOBJECT ANEXTERN           CDATA "" >
<!ATTLIST PAGEOBJECT ANFACT             CDATA "" >
<!ATTLIST PAGEOBJECT ANFEED             CDATA "" >
<!ATTLIST PAGEOBJECT ANFLAG             CDATA "" >
<!ATTLIST PAGEOBJECT ANFOACT            CDATA "" >
<!ATTLIST PAGEOBJECT ANFONT             CDATA "" >
<!ATTLIST PAGEOBJECT ANFORMAT           CDATA "" >
<!ATTLIST PAGEOBJECT ANHTML             CDATA "" >
<!ATTLIST PAGEOBJECT ANICON             CDATA "" >
<!ATTLIST PAGEOBJECT ANKACT             CDATA "" >
<!ATTLIST PAGEOBJECT ANMC               CDATA "" >
<!ATTLIST PAGEOBJECT ANPLACE            CDATA "" >
<!ATTLIST PAGEOBJECT ANROLL             CDATA "" >
<!ATTLIST PAGEOBJECT ANSCALE            CDATA "" >
<!ATTLIST PAGEOBJECT ANTOOLTIP          CDATA "" >
<!ATTLIST PAGEOBJECT ANTYPE             CDATA "" >
<!ATTLIST PAGEOBJECT ANVACT             CDATA "" >
<!ATTLIST PAGEOBJECT ANVIS              CDATA "" >
<!ATTLIST PAGEOBJECT ANXACT             CDATA "" >
<!ATTLIST PAGEOBJECT ANZIEL             CDATA "" >
<!ATTLIST PAGEOBJECT AUTOTEXT           CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT BASEOF             CDATA "" >
<!ATTLIST PAGEOBJECT BEXTRA             CDATA "" >
<!ATTLIST PAGEOBJECT BOOKMARK           CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT BookNr             CDATA "" >
<!ATTLIST PAGEOBJECT BottomLine         CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT BottomLINK         CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT CLIPEDIT           CDATA "" >
<!ATTLIST PAGEOBJECT COLGAP             CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT COLUMNS            CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT COCOOR             CDATA "" >
<!ATTLIST PAGEOBJECT DASHOFF            CDATA "" >
<!ATTLIST PAGEOBJECT DASHS              CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT doOverprint        CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT endArrowIndex      CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT fillRule           CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT EMBEDDED           CDATA "" >
<!ATTLIST PAGEOBJECT EPROF              CDATA "" >
<!ATTLIST PAGEOBJECT EXTRA              CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT EXTRAV             CDATA "" >
<!ATTLIST PAGEOBJECT FLIPPEDH           CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT FLIPPEDV           CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT FRTYPE             CDATA "" >
<!ATTLIST PAGEOBJECT GROUPS             CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT gHeight            CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT gWidth             CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT gXpos              CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT gYpos              CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT GRTYP              CDATA "" >
<!ATTLIST PAGEOBJECT ImageClip          CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT ImageRes           CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT isInline           CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT HEIGHT             CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT IFONT              CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT INVERS             CDATA "" >
<!ATTLIST PAGEOBJECT IRENDER            CDATA "" >
<!ATTLIST PAGEOBJECT ISIZE              CDATA "" >
<!ATTLIST PAGEOBJECT isTableItem        CDATA "" >
<!ATTLIST PAGEOBJECT LINESPMode         CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT LANGUAGE           CDATA "" >
<!ATTLIST PAGEOBJECT LAYER              CDATA "" >
<!ATTLIST PAGEOBJECT LeftLine           CDATA "" >
<!ATTLIST PAGEOBJECT LeftLINK           CDATA "" >
<!ATTLIST PAGEOBJECT LINESP             CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT LOCALSCX           CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT LOCALSCY           CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT LOCALX             CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT LOCALY             CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT LOCK               CDATA "" >
<!ATTLIST PAGEOBJECT LOCKR              CDATA "" >
<!ATTLIST PAGEOBJECT NAMEDLST           CDATA "" >
<!ATTLIST PAGEOBJECT BACKITEM           CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT BACKPAGE           CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT NEXTITEM           CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT NEXTPAGE           CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT NUMCO              CDATA "" >
<!ATTLIST PAGEOBJECT NUMDASH            CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT NUMGROUP           CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT NUMPO              CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT OwnLINK            CDATA "" >
<!ATTLIST PAGEOBJECT OnMasterPage       CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT OwnPage            CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT PCOLOR             CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT PCOLOR2            CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT PFILE              CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT PFILE2             CDATA "" >
<!ATTLIST PAGEOBJECT PFILE3             CDATA "" >
<!ATTLIST PAGEOBJECT PICART             CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT PLINEART           CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT PLINEEND           CDATA "" >
<!ATTLIST PAGEOBJECT PLINEJOIN          CDATA "" >
<!ATTLIST PAGEOBJECT pattern            CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT PLTSHOW            CDATA "" >
<!ATTLIST PAGEOBJECT POCOOR             CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT PRFILE             CDATA "" >
<!ATTLIST PAGEOBJECT PRINTABLE          CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT PTYPE              CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT PWIDTH             CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT RADRECT            CDATA "" >
<!ATTLIST PAGEOBJECT RATIO              CDATA "" >
<!ATTLIST PAGEOBJECT REVERS             CDATA "" >
<!ATTLIST PAGEOBJECT REXTRA             CDATA "" >
<!ATTLIST PAGEOBJECT RightLine          CDATA "" >
<!ATTLIST PAGEOBJECT RightLINK          CDATA "" >
<!ATTLIST PAGEOBJECT ROT                CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT SCALETYPE          CDATA "" >
<!ATTLIST PAGEOBJECT SHADE              CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT SHADE2             CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT TEXTFLOW           CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT TEXTFLOW2          CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT TEXTFLOW3          CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT TEXTFLOWMODE       CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT TEXTRA             CDATA "" >
<!ATTLIST PAGEOBJECT TopLine            CDATA "" >
<!ATTLIST PAGEOBJECT TopLINK            CDATA "" >
<!ATTLIST PAGEOBJECT TransValue         CDATA "" >
<!ATTLIST PAGEOBJECT TransValueS        CDATA "" >
<!ATTLIST PAGEOBJECT TXTFILL            CDATA "" >
<!ATTLIST PAGEOBJECT TXTFILLSH          CDATA "" >
<!ATTLIST PAGEOBJECT TXTSCALE           CDATA "" >
<!ATTLIST PAGEOBJECT TXTSTROKE          CDATA "" >
<!ATTLIST PAGEOBJECT TXTSTRSH           CDATA "" >
<!ATTLIST PAGEOBJECT TXTSTYLE           CDATA "" >
<!ATTLIST PAGEOBJECT WIDTH              CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT XPOS               CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT YPOS               CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT startArrowIndex    CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT TXTBASE            CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT TXTKERN            CDATA #REQUIRED >
<!ATTLIST PAGEOBJECT TXTSCALEV          CDATA #REQUIRED >

<!ELEMENT PageItemAttributes EMPTY>

<!ELEMENT Tab EMPTY>
<!ATTLIST Tab Fill               CDATA #REQUIRED >
<!ATTLIST Tab Pos                CDATA #REQUIRED >
<!ATTLIST Tab Type               CDATA #REQUIRED >

<!ELEMENT CSTOP EMPTY>
<!ATTLIST CSTOP NAME               CDATA #REQUIRED >
<!ATTLIST CSTOP RAMP               CDATA #REQUIRED >
<!ATTLIST CSTOP SHADE              CDATA #REQUIRED >
<!ATTLIST CSTOP TRANS              CDATA #REQUIRED >

<!ELEMENT ITEXT EMPTY>
<!ATTLIST ITEXT CAB                CDATA #REQUIRED >
<!ATTLIST ITEXT CCOLOR             CDATA #REQUIRED >
<!ATTLIST ITEXT CEXTRA             CDATA #REQUIRED >
<!ATTLIST ITEXT CFONT              CDATA #REQUIRED >
<!ATTLIST ITEXT CH                 CDATA #REQUIRED >
<!ATTLIST ITEXT CSCALE             CDATA "" >
<!ATTLIST ITEXT CSHADE             CDATA #REQUIRED >
<!ATTLIST ITEXT CSHADE2            CDATA "" >
<!ATTLIST ITEXT CSIZE              CDATA #REQUIRED >
<!ATTLIST ITEXT CSTROKE            CDATA "" >
<!ATTLIST ITEXT CSTYLE             CDATA #REQUIRED >
<!ATTLIST ITEXT CBASE              CDATA #REQUIRED >
<!ATTLIST ITEXT CSTW               CDATA #REQUIRED >
<!ATTLIST ITEXT CULP               CDATA #REQUIRED >
<!ATTLIST ITEXT CKERN              CDATA #REQUIRED >
<!ATTLIST ITEXT COUT               CDATA #REQUIRED >
<!ATTLIST ITEXT CSCALEV            CDATA #REQUIRED >
<!ATTLIST ITEXT CSTP               CDATA #REQUIRED >
<!ATTLIST ITEXT CULW               CDATA #REQUIRED >
<!ATTLIST ITEXT CSHX               CDATA #REQUIRED >
<!ATTLIST ITEXT CSHY               CDATA #REQUIRED >

<!ELEMENT var EMPTY>
<!ATTLIST var name               CDATA #REQUIRED >
